table.spreadsheet {
   width:100%; height:50%; border-collapse: collapse;
}

table.spreadsheet td {
    min-width: 160px;
    min-height: 25px;
border: 2px dashed red;
}

table.spreadsheet td input.edit-cell {
    position: absolute;
}

table.spreadsheet td {
    color: #444;
}

table.spreadsheet td span.cell-error {
    color: red;
}

table.spreadsheet td span.computed-cell {
    color: green;
}

table.spreadsheet td span.numeric-cell {
    color: blue;
}
